*
{
    margin: 0;
    padding: 0;
}
h1
{
    color: rgb(255, 245, 98);
    font-size: 5rem;
    background-color: rgb(255, 147, 163);
    text-align: center;
}
input
{
    color: orange;
    text-align: center;
}
.class1
{
    text-align: center;
    margin: auto;
}
img
{
    vertical-align: middle;
}

.myimg
{
    width: 1000;
    height: 1080px;
    text-align: center;
    margin: 0 auto;
    
}
.githubimg
{
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
}
.img-responsive
{
    display: block;
    max-width: 100%;
    height: auto;
}
.top-banner-area
{
    padding-top: 40px;
    padding-bottom: 20px;
}
.slick-track
{
    margin: auto;
}
.center-block
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.warp
{
    display: flex;
}
